<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="adm/layout/default">
<body>

<th:block layout:fragment="css">
    <link href='/admin/css/bootstrap-multiselect.css' rel='stylesheet' type='text/css' />
    <link href='/admin/css/bootstrap-customized.css' rel='stylesheet' type='text/css' />
    <link href='/admin/css/jquery-ui.css' rel='stylesheet' type='text/css' />
    <link href='/admin/css/datepicker.css' rel='stylesheet' type='text/css' />
    <link href='/admin/css/ui-custom.css' rel='stylesheet' type='text/css' />
    <link th:href="${#tck.getVersion('/admin/css//view/admin.css')}" rel='stylesheet' type='text/css' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
    <style>

    .pagination{
        padding-left : 50%;
    }

    .imgC {
    cursor: pointer;
    padding: 0 !important;
    margin: 0 !important;
     height: 140px;
    }

    #img_modal{
        width: 1300px;
        height: 880px;
        margin-left: -650px;
    }

    #img_modal img{
        width: 1280px;
        height: 720px;
    }
    .table td {
       vertical-align: middle;
    }

    <!---->

    .star-rating {
      display:inline-flex;
      flex-direction: row-reverse;
      font-size:1.5em;
      justify-content:space-around;
      padding:0 .2em;
      text-align:center;
      width:5em;
    }

    .star-rating input {
      display:none;
    }

    .star-rating label {
      color:#ccc;
      cursor:pointer;
    }

    .star-rating :checked ~ label {
      color:#f90;
    }

    .star-rating label:hover,
    .star-rating label:hover ~ label {
      color:#fc0;
    }

    /* explanation */

    article {
      background-color:#ffe;
      box-shadow:0 0 1em 1px rgba(0,0,0,.25);
      color:#006;
      font-family:cursive;
      font-style:italic;
      margin:4em;
      max-width:30em;
      padding:2em;
    }

</style>
</th:block>

<!-- Main Content -->

<div id="content" layout:fragment="content">

    <nav th:replace="adm/fragments/topbar :: TopbarFragment"></nav>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="mb-2 text-gray-800 content-title">이벤트 관리</h1>


        <form name="Searchfrm" id="Searchfrm" method="post">
            <input type="hidden" id="eventNos" name="eventNos" />
            <input type="hidden" id="like" name="like" />
            <input type="hidden" id="currentPageNo" name="currentPageNo" />
            <div class="row" id="SearchRow">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="display: inline;">
                                <span class="txt-info">검색</span>
                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="con_search_form">
                                <table class="table table-bordered" summary="이벤트 참여자 검색">
                                    <colgroup>
                                        <col style="width: 15%;">
                                        <col style="width: 35%;">
                                        <col style="width: 15%;">
                                        <col style="width: 35%;">
                                    </colgroup>
                                    <tr>
                                        <th>
                                            편의점 본사
                                        </th>
                                        <td>
                                            <select name="searchStore" id="searchStore" class="form-control" style="width: 200px;">
                                                <option value="">선택</option>
                                                <option value="GS">GS</option>
                                                <option value="세븐일레븐">세븐일레븐</option>
                                                <option value="CU">CU</option>
                                                <option value="미니스톱">미니스톱</option>
                                                <option value="이마트 24">이마트 24</option>
                                            </select>
                                        </td>
                                        <th>점포명 </th>
                                        <td>
                                            <!--
                                            <select class="js-example-placeholder-single js-states form-control" id="searchConvenienceStoreName" name="searchConvenienceStoreName">
                                                <option value="">선택해주세요.</option>
                                                <th:block th:each="list : ${convenienceStoreParam}">
                                                    <option th:value="${list.convenienceStoreName}" th:text="${list.convenienceStoreName}"></option>
                                                </th:block>
                                            </select>
                                            -->
                                            <input type="text" id="searchConvenienceStoreName" name="searchConvenienceStoreName" class="form-control" style="width: 335px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>전화번호</th>
                                        <td>
                                            <input type="text" id="searchTelNum" name="searchTelNum" class="form-control" style="width: 335px;" />
                                        </td>
                                        <th>이름</th>
                                        <td>
                                            <input type="text" id="searchCustName" name="searchCustName" class="form-control" style="width: 335px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>추천인</th>
                                        <td>
                                            <input type="text" id="searchRecommendedName" name="searchRecommendedName" class="form-control" style="width: 335px;" />
                                        </td>
                                        <th>참여일</th>
                                        <td>
                                            <input type="text" id="searchKeywordFrom" name="searchKeywordFrom" class="form-control datepicker" readonly /> - <input type="text" id="searchKeywordTo" name="searchKeywordTo" class="form-control datepicker" readonly />
                                        </td>
                                    </tr>

                                </table>
                            </div>
                            <div class="col-lg-12" style="text-align: center;">
                                <button type="button" class="btn btn-sm btn-primary" onClick="TckJS.PageUtil.goSearch(); return false;">검색</button>
                                <button type="button" class="btn btn-sm btn-danger" onClick="TckJS.PageUtil.ReSetSearch(); return false;">초기화</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="card shadow mb-4 main-table">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    <span class="txt-info">전체 - <span id="tcnts" th:text="${paginationInfo.totalRecordCount}"></span>건</span>
                </h6>
<!--                <a href="/adm/admin/event/imgList">이미지 정렬</a>-->
                <button type="button" class="btn btn-sm btn-primary" th:onclick="EventBoardJS.ExcelDownAll()" style="float: right;margin-left: 5px;">다운로드(전체)</button>
                <button type="button" class="btn btn-sm btn-info" th:onclick="EventBoardJS.ExcelDown()" style="float: right;">다운로드</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0" style="text-align:center;">
                        <thead>
                        <tr>
                            <th style="width: 25px;">다운로드</th>
                            <th style="width: 50px;">참여일</th>
                            <th style="width: 70px;">편의점 본사</th>
                            <th style="width: 100px;">점포명</th>
                            <th style="width: 50px;">이름</th>
                            <th style="width: 50px;">전화번호</th>
                            <th style="width: 50px;">추천인</th>
                            <th style="width: 50px;">이미지명</th>
                            <th style="width: 140px;">작품 설명</th>
                            <th style="width: 53px;">평점</th>
                            <th style="width: 35px;">삭제</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="list,data : ${listData}">
                            <tr>
                                <td>
                                    <input type="checkbox" class="selectImg" name='selectImg' th:value="${list.eventNo}">
                                </td>
                                <td th:text="${list.regDt}"></td>
                                <td th:text="${list.storeName}"></td>
                                <td th:text="${list.convenienceStoreName}"></td>
                                <td th:text="${list.getName()}"></td>
                                <td th:text="|${list.getTelNum()}|"></td>
                                <td th:text="${list.recommendedName}"></td>
                                <td>
                                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4 imgC" id="imgC" name="ImageList" style="width: 25rem;" th:src="${list.imageUrl}" th:alt="${list.originName}" th:data-event_no="${list.eventNo}">
                                </td>
                                <td th:text="${list.getContent()}"></td>
                                <td>
                                    <div class="star-rating">
                                        <input type="checkbox" id="5-stars" name="rating" value="5" th:attr="checked=${list.like  == 5 ? 'true' : 'false'}" />
                                        <label for="5-stars" class="star" th:onclick="EventBoardJS.Like([[${list.eventNo}]],5)">&#9733;</label>
                                        <input type="checkbox" id="4-stars" name="rating" value="4" th:attr="checked=${list.like  == 4 ? 'true' : 'false'}" />
                                        <label for="4-stars" class="star" th:onclick="EventBoardJS.Like([[${list.eventNo}]],4)">&#9733;</label>
                                        <input type="checkbox" id="3-stars" name="rating" value="3" th:attr="checked=${list.like  == 3 ? 'true' : 'false'}" />
                                        <label for="3-stars" class="star" th:onclick="EventBoardJS.Like([[${list.eventNo}]],3)">&#9733;</label>
                                        <input type="checkbox" id="2-stars" name="rating" value="2" th:attr="checked=${list.like  == 2 ? 'true' : 'false'}" />
                                        <label for="2-stars" class="star" th:onclick="EventBoardJS.Like([[${list.eventNo}]],2)">&#9733;</label>
                                        <input type="checkbox" id="1-star" name="rating" value="1" th:attr="checked=${list.like  == 1 ? 'true' : 'false'}" />
                                        <label for="1-star" class="star" th:onclick="EventBoardJS.Like([[${list.eventNo}]],1)">&#9733;</label>
                                    </div>

                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-danger" th:if="${list.openYn == 'N'}"
                                            th:onclick="EventBoardJS.deleteBtn([[${list.eventNo}]],[[${list.openYn}]]);">
                                        삭제
                                    </button>
                                </td>
                            </tr>
                        </th:block>
                        <tr th:if="${paginationInfo.totalRecordCount == 0}">
                            <td id="listEmpty" colspan="11">데이터가 없습니다.</td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-sm btn-primary" th:onclick="EventBoardJS.ExcelDownAll()" style="float: right;margin-left: 5px;">다운로드(전체)</button>
                    <button type="button" class="btn btn-sm btn-info" th:onclick="EventBoardJS.ExcelDown()" style="float: right;">다운로드</button>
                </div>
                <!--pagination-->
                <div style="overflow-x: auto;">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate" style="margin-right: 5px; text-align: center;">
                        <ul class="pagination bootpag" th:utext="*{#paginationInfo.renderPagination(paginationInfo,'TckJS.PageUtil.goPage')}"></ul>
                    </div>
                </div>
                <!--//pagination-->
            </div>
        </div>
    </div>
</div>
<!-- End of Main Content -->

<div layout:fragment="modal">
    <div id="img_modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <form name="filefrm" id="filefrm" method="post">
            <input type="hidden" id="eventNo" name="eventNo" />
        </form>
        <div class="modal-header">
            <h3>
                이미지 보기
            </h3>
            <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
        </div>
        <div class="modal-body">
            <div class="modalBox">
                <img src="" alt="">
                <p></p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-primary" onclick="ImageDown()" >다운로드</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">닫기</button>
        </div>
    </div>

    <!-- 끝-->
</div>



<div layout:fragment="modal">
    <div id="content_modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <form name="filefrm" class="filefrm" method="post">
            <input type="hidden" id="event_No" name="eventNo" />
        </form>
        <div class="modal-header">
            <h3>
                작품 설명
            </h3>
        </div>
        <div class="modal-body">
            <div class="modalContentBox">
                <p></p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">닫기</button>
        </div>
    </div>

    <!-- 끝-->
</div>





<th:block layout:fragment="script">
    <script th:src="${#tck.getVersion('/admin/js/view/event_board.js')}"></script>
    <script th:src="${#tck.getVersion('/admin/js/tck/excel_util.js')}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>

    <script>
		/*<![CDATA[*/
        var setData = []
		setData.push({ formID : "Searchfrm" ,targatID : "currentPageNo", val : "[[ ${param.currentPageNo} ]]" });
		setData.push({ formID : "Searchfrm" ,targatID : "searchConvenienceStoreName", val : "[[ ${param.searchConvenienceStoreName} ]]" });
		setData.push({ formID : "Searchfrm" ,targatID : "searchStore", val : "[[ ${param.searchStore} ]]" });
		setData.push({ formID : "Searchfrm" ,targatID : "searchCustName", val : "[[ ${param.searchCustName} ]]" });
		setData.push({ formID : "Searchfrm" ,targatID : "searchTelNum", val : "[[ ${param.searchTelNum} ]]" });
		setData.push({ formID : "Searchfrm" ,targatID : "searchRecommendedName", val : "[[ ${param.searchRecommendedName} ]]" });
		setData.push({ formID : "Searchfrm" ,targatID : "searchKeywordFrom", val : "[[ ${param.searchKeywordFrom} ]]" });
		setData.push({ formID : "Searchfrm" ,targatID : "searchKeywordTo", val : "[[ ${param.searchKeywordTo} ]]" });

		$(document).ready(function() {
			TckJS.Util.AlertMode = "layer";
			EventBoardJS.init();
			TckJS.PageUtil.init(setData,null);
			TckJS.PageUtil.EnterSubmit("#searchConvenienceStoreName","#Searchfrm");
			TckJS.PageUtil.EnterSubmit("#searchStore","#Searchfrm");
			TckJS.PageUtil.EnterSubmit("#searchCustName","#Searchfrm");
			TckJS.PageUtil.EnterSubmit("#searchTelNum","#Searchfrm");
			TckJS.PageUtil.EnterSubmit("#searchRecommendedName","#Searchfrm");

			$(".js-example-placeholder-single").select2({
                placeholder: "선택해주세요.",
                allowClear: true
            });
		});




		function ImageDown(){
            $("#filefrm").attr("action","/adm/admin/image_download");
            $("#filefrm").submit();
		}

		/*]]>*/
	</script>
</th:block>
</body>
</html>