<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jti.event.admin.mapper.admin.AdminMapper">
    
    <select id="overlapCheck" parameterType="String" resultType="int">
    	SELECT COUNT(admin_no) as cnt from tb_admin where admin_id = #{adminId}        
    </select>
    
    <select id="getAdmin" resultType="Admin" parameterType="AdminParam" >
        SELECT 	
					  a.admin_no AS adminNo
					, a.admin_id AS adminId
					, a.admin_name AS adminName
					, a.admin_group AS adminGroup
					, a.admin_state AS adminState
					, (select group_concat(menu_code) from tb_admin_menu_auth where admin_no = #{adminNo} and del_yn = 'N') as adminMenus
					, a.reg_id AS regId
					, a.reg_dt AS regDt
					, a.upt_id AS uptId
					, a.upt_dt AS uptDt
					, a.del_id AS delId
					, a.del_dt AS delDt
		FROM 
					tb_admin AS a
		WHERE
					a.admin_no = #{adminNo}
		AND 		
					a.del_yn = 'N'
    </select>

    <!-- 관리자 로그인 -->
	<select id="getAdminLogin" parameterType="AdminParam" resultType="Admin" >
		SELECT 	
					  a.admin_no AS adminNo
					, a.admin_id AS adminId
					, a.admin_name AS adminName
					, a.admin_state AS adminState
					, a.admin_group AS adminGroup
					, a.admin_pw AS adminPw
					, PASSWORD(#{adminPw}) AS adminTryPass
		FROM 
					tb_admin AS a
		WHERE
					a.admin_id = #{adminId} 
		AND
					a.del_yn = 'N'
	</select>
	
	
	<!-- 관리자 Count -->
	<select id="countAdmin" parameterType="AdminParam" resultType="int" >
		SELECT	COUNT(admin_no) AS cnt
		FROM		tb_admin AS a
		WHERE	1 = 1
		AND 		
					a.del_yn = 'N'
		<if test="searchKeyword != null and searchKeyword != ''">
			AND 
			(
		  	   a.admin_id LIKE CONCAT('%', #{searchKeyword}, '%')
				OR a.admin_name LIKE CONCAT('%', #{searchKeyword}, '%')
			)
		</if>
		<if test="searchKeywordFrom != null and searchKeywordFrom != ''">
			<if test="searchKeywordTo != null and searchKeywordTo != ''"> 
				AND a.reg_dt between #{searchKeywordFrom} AND CONCAT(#{searchKeywordTo},' 23:59:59')
			</if>
		</if>
		<if test="searchAdminState != null and searchAdminState != ''">
		 	AND a.admin_state  = #{searchAdminState}
		</if> 	 	
		<if test="searchAdminGroup != null and searchAdminGroup != ''">
		 	AND a.admin_group  = #{searchAdminGroup}
		</if> 	 	
	</select>

	<!-- 관리자 정보 목록 -->
	<select id="listAdmin" parameterType="AdminParam" resultType="Admin" >
		SELECT 	
					  a.admin_no AS adminNo
					, a.admin_id AS adminId
					, a.admin_name AS adminName
  					, a.admin_state AS adminState
  					, a.admin_group AS adminGroup
					, a.reg_id AS regId
					, a.reg_dt AS regDt
					, a.upt_dt AS uptDt
					, ifnull(a.del_dt,'-') AS DelDt
		FROM 
					tb_admin AS a
		WHERE 1 = 1
		AND 		
					a.del_yn = 'N'
		<if test="searchKeyword != null and searchKeyword != ''">
			AND 
			(
		  	   a.admin_id LIKE CONCAT('%', #{searchKeyword}, '%')
				OR a.admin_name LIKE CONCAT('%', #{searchKeyword}, '%')
			)
		</if>
		<if test="searchKeywordFrom != null and searchKeywordFrom != ''">
			<if test="searchKeywordTo != null and searchKeywordTo != ''"> 
				AND a.reg_dt between #{searchKeywordFrom} AND CONCAT(#{searchKeywordTo},' 23:59:59')
			</if>
		</if>
		<if test="searchAdminState != null and searchAdminState != ''">
		 	AND a.admin_state  = #{searchAdminState}
		</if> 	 	
		<if test="searchAdminGroup != null and searchAdminGroup != ''">
		 	AND a.admin_group  = #{searchAdminGroup}
		</if> 	 
		ORDER BY a.admin_no DESC
		LIMIT #{firstRecordIndex}, #{lastRecordIndex}
	</select>
	
	<insert id="insertAdmin" parameterType="Admin" useGeneratedKeys="true" keyProperty="adminNo" keyColumn="admin_no">
        INSERT INTO
		tb_admin (
			admin_id,
			admin_pw,
			admin_name,
			admin_state,
			admin_group,
			reg_id,
			reg_dt
		) VALUES(
			#{adminId},
			PASSWORD(#{adminPw}),
			#{adminName},
			#{adminState},
			#{adminGroup},
			#{regId},
			now()
		);
		<selectKey keyProperty="adminNo" resultType="int" order="AFTER">
		  SELECT LAST_INSERT_ID()
		</selectKey>
    </insert>
    
    <update id="updateAdmin" parameterType="Admin">
        	UPDATE 
        		tb_admin 
        	SET 
        		<if test='adminPw != null and adminPw != ""'> 
					admin_pw = PASSWORD(#{adminPw}),
				</if>
				admin_name = #{adminName},
				admin_state = #{adminState},
				admin_group = #{adminGroup},
				upt_id = #{uptId},
				upt_dt = now()
			WHERE
			 	admin_no = #{adminNo}
    </update>
    
	<update id="deleteAdminAll" parameterType="AdminParam">
		UPDATE 
        		tb_admin 
        	SET
        		del_yn = 'Y', 
				del_id = #{delId},
				del_dt = now()
		WHERE 		
			1 = 1
			<if test="adminNos != null">
				AND admin_no IN
				<foreach item="item" index="index" open="(" close=")" collection="adminNos">
					<if test="index != null and index != ''">,</if> #{item} 
				</foreach>
			</if>
	</update>
    
</mapper>