<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jti.event.admin.mapper.auth.AuthMapper">
   
	<insert id="insertAuth" parameterType="Auth">
		INSERT INTO 
		tb_admin_menu_auth  (
			admin_no, 
			menu_code, 
			menu_desc, 
			reg_id, 
			reg_dt
		) VALUES(
			#{adminNo},
			#{menuCode},
			#{menuDesc},
			#{regId},
			now()
		);
    </insert>
    
    
	<delete id="deleteAuth" parameterType="int">
		DELETE FROM
			tb_admin_menu_auth
		WHERE 
			admin_no = #{adminNo}
	</delete>
	
	<select id="listAuth" parameterType="int" resultType="Menu">
		SELECT
			menu.menu_code as MenuCode,
			menu.menu_title as MenuTitle,
			menu.url as Url
		FROM
			tb_admin_menu as menu
		INNER JOIN 	
			tb_admin_menu_auth as auth
		ON  
			menu.menu_code = auth.menu_code
		WHERE 
			menu.del_yn = 'N'
		AND
			auth.del_yn = 'N'
		AND 
			auth.admin_no = #{adminNo}
		ORDER BY
			menu.sort_no
	</select>
</mapper>