<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jti.event.admin.mapper.event.board.EventBoardMapper">

    <!-- 이벤트 Count -->
    <select id="countEventBoard" parameterType="EventBoardParam" resultType="int" >
        SELECT
                COUNT(a.event_no)
        FROM
                tb_event as a
    </select>

    <!-- 이벤트 정보 목록 -->
    <select id="listEventBoard" parameterType="EventBoardParam" resultType="EventBoard" >
        SELECT
                a.event_no as eventNo,
                a.name as name,
                a.tel_num as telNum,
                a.image_url as imageUrl,
                a.content as content,
                a.reg_dt as regDt,
                a.open_yn as openYn,
                a.origin_name as originName,
                a.store_name as storeName,
                a.convenienceStore_name as convenienceStoreName,
                a.`like`  as `like`,
                a.recommended_name as recommendedName
        FROM
                tb_event AS a
        WHERE 1=1
        AND open_yn = 'N'
        <if test="searchConvenienceStoreName != null and searchConvenienceStoreName != ''">
            AND a.convenienceStore_name  = #{searchConvenienceStoreName}
        </if>
        <if test="searchStore != null and searchStore != ''">
            AND a.store_name  = #{searchStore}
        </if>
        <if test="searchCustName_Encrypt != null and searchCustName_Encrypt != ''">
            AND
             a.name LIKE CONCAT('%', #{searchCustName_Encrypt}, '%')
        </if>
        <if test="searchTelNum_Encrypt != null and searchTelNum_Encrypt != ''">
            AND
            a.tel_num LIKE CONCAT('%', #{searchTelNum_Encrypt}, '%')
        </if>
        ORDER BY event_no DESC
        LIMIT #{firstRecordIndex}, #{lastRecordIndex}
    </select>

    <select id="selectImg" parameterType="EventBoardParam" resultType="EventBoard" >
        SELECT
                a.event_no as eventNo,
                a.image_url as imageUrl
        FROM
                tb_event AS a
    </select>

    <!--이벤트 참여 삭제 처리 -->
    <update id="deleteList" parameterType="EventBoard">
        UPDATE
                tb_event
        SET
                open_yn = 'Y',
                upt_dt =now()
        WHERE
                event_no = #{eventNo}
        AND
                open_yn = 'N'
    </update>

    <!--이벤트 참여 처리 -->
    <update id="updateLike" parameterType="EventBoard">
        UPDATE
                tb_event
        SET
                `like` = #{like}
        WHERE
                 event_no = #{eventNo}
    </update>

    <!--점포등록 -->
    <insert id="insertStore" parameterType="Store">
        INSERT INTO
        tb_convenienceStore (
            convenienceStore_name
        ) VALUES(
            #{convenienceStoreName}
        )
    </insert>

    <!--점포목록-->
    <select id="listStore" parameterType="StoreParam" resultType="Store" >
        SELECT
                convenienceStore_no as convenienceStoreNo,
                convenienceStore_name as convenienceStoreName
        FROM tb_convenienceStore
        WHERE	1 = 1
        <if test="searchKeyword != null and searchKeyword != ''">
            AND
            (
            convenienceStore_name LIKE CONCAT('%', #{searchKeyword}, '%')
            )
        </if>
        LIMIT #{firstRecordIndex}, #{lastRecordIndex}
    </select>

    <select id="countStore" parameterType="StoreParam" resultType="int" >
        SELECT
        COUNT(convenienceStore_no)
        FROM tb_convenienceStore
    </select>


</mapper>