<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="divInsertStore" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true" th:fragment="InsertStore">
	<div class="modal-header">
		<h3>
			<span id="customerName"></span>점포 등록
		</h3>
		<a class="close" data-dismiss="modal" aria-hidden="true">×</a>
	</div>
	<div class="modal-body">
		<form id="frm" name="frm">
			<input type="hidden" id="overlap" name="overlap" value="0" /> <input type="hidden" id="convenienceStoreNo" name="convenienceStoreNo" value="0" />
			<table class="table table-detail" style="margin-bottom: 0px;">
				<colgroup>
					<col width="140" />
					<col />
					<col width="140" />
					<col />
				</colgroup>
				<tbody>
					<tr>
						<th class="center">점포명</th>
						<td class="form-inline">
							<input type="text" class="form-control" id="convenienceStoreName" name="convenienceStoreName" placeholder="점포명을 입력하세요." data-required="점포명" />
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-success" id="InsertBtn">등록</button>
		<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">취소</button>
	</div>
</div>
</html>


