<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- footer area start --> 
   <footer th:fragment="footerFragment">
        <div class="container">
            <img src="/front/img/bg-michelin-md-logo.png" alt="MICHELIN MD" class="footer-logo">
            <div class="row box-pcfooter">
                <div class="col-sm-9">
                    <p class="txt-footer01">회사정보</p>
                    <p class="txt-footer02">
                        회사정보 : 트랜스코스모스코리아  /  TEL : 1899-9120  /  EMAIL : <a href="mailto:michelin.md@tckdigital.com">michelin.md@tckdigital.com</a><br>
                        주소 : 서울 영등포구 여의대로 24 전국경제인연합회관 35층<br>
                        대표자 : 권상철  /  통신판매신고번호 : 2011-서울용산-00610<br>
                        사업자번호 : 106-81-99659  <a onclick="gd_popup_bizInfo('1068199659'); return false;">[사업자정보확인]</a><br>
                        개인정보 보호 책임자 : 김충호  
                    </p>
                </div>
                <div class="col-sm-3">
                    <p class="txt-footer01"><span>고객센터</span><span>1899-9120</span></p>
                    <p class="txt-footer02">
                        월~금 오전 9:00 - 오후 6:00<br>
                        토, 일, 법정공휴일 휴무<br>
                    </p>
                </div>
            </div>
            <div class="box-mofooter">
                <p class="text-center txt-footer02">
                    회사정보 : 트랜스코스모스코리아  /  OWNER : 권상철<br>
                    TEL : <a href="tel:+1899-9120">1899-9120</a>  /  EMAIL : <a href="mailto:michelin.md@tckdigital.com">michelin.md@tckdigital.com</a><br>
                    주소 : 서울 영등포구 여의대로 24 전국경제인연합회관 35층<br>
                    통신판매신고번호 : 2011-서울용산-00610<br>
                    사업자번호 : 106-81-99659  <a onclick="gd_popup_bizInfo('1068199659'); return false;">[사업자정보확인]</a><br>
                    개인정보 보호 책임자 : 김충호 <br><br>
                    Copyright&copy;트랜스코스모스코리아 All rights reserved.
                </p>
            </div>
        </div>
    </footer>
<!-- footer area end -->
</html>