<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="front/layout/default_footer">
<body>
	<th:block layout:fragment="css">
	</th:block>
	  <!--content-->
    <div class="content main event2" layout:fragment="content">
        <div class="container w1300">
            <div class="title">
                <h2>
                    그랜저 IG, 팰리세이드 고객 대상 미쉐린타이어 프로모션
                    <strong>
                        블루핸즈에서 미쉐린 타이어 교체시 <br class="dp-n-1070" />
                        미쉐린 캐리어 증정
                    </strong>
                </h2>
                <p>
                    블루핸즈 대리점에서 미쉐린 타이어를 구매한 <br class="dp-b-767" />
                    그랜저 IG, 팰리세이드 고객에 한하여 미쉐린 캐리어를 증정합니다. <br />
                    <span>(준비된 재고 소진 시, 캐리어 색상 선택이 불가능할 수 있습니다.) </span>
                </p>
            </div>
            <ul>
                <li>2021년 12월 31일까지</li>
                <li>미쉐린 캐리어 1개</li>
                <li>마이 현대 앱에서 등록된 그랜저 IG, 팰레세이드 차량 보유 고객 중 블루핸즈에서 미쉐린 타이어를 4본 이상 구매한 고객</li>
            </ul>
            <a href="/frt/product/index" class="btn-blue">주문하기</a>
            <div class="imgmain01"></div>
            <div class="imgmain02"></div>
            <div class="white-bg"></div>
        </div>
    </div>
    <!--// content-->
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/
			/*]]>*/
		</script>
	</th:block>
</body>
</html>


