<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>JTI</title>
    <meta charset="utf-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body>
	<th:block layout:fragment="css">
        <link th:href="${#tck.getVersion('/front/css/reset.css')}" rel='stylesheet' type='text/css' />
        <link th:href="${#tck.getVersion('/front/css/style.css')}" rel='stylesheet' type='text/css' />
        <style>
            #popImg{
                width: 100%;
                height: 100%;
                margin-top: 25px;
            }

            .pop{
                max-width: 810px;
            }

            .pop button.box span{
                margin: 0px;
            }
        </style>
	</th:block>
	  <!--content-->
    <!--content-->
    <!--content-->
    <!-- 211019 -->
    <div class="photo-event result">
        <div class="container">
            <div class="title">
                <img src="/front/img/title.png" alt="" />
                <p>
                    JTI 달력 사진 공모전에 참여해주신 모든 점주님들께 감사 드립니다. <br />
                    아래와 같이 심사 결과를 발표합니다. <br />
                    점주님의 정성이 담긴 모든 사진들을 소중히 기억하겠습니다.
                </p>
            </div>
            <div class="result-list">
                <div class="first-place">
                    <div class="result-title">
                        <!-- 211020수정 -->
                        <p><strong>최우수상</strong> <span>(총 12명)</span></p>
                        <!-- //211020수정 -->
                    </div>
                    <ul>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_24.jpg">
                                <img src="/front/img/icon-01.png" alt="1등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>GS25 신정신서점 </strong></p>
                                <p class="fl-r">강다현 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_10.jpg">
                                <img src="/front/img/icon-01.png" alt="1등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>이마트24 R상지 Blossom점</strong></p>
                                <p class="fl-r">김남희 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_31.jpg">
                                <img src="/front/img/icon-01.png" alt="1등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>세븐일레븐 연신갈현점</strong></p>
                                <p class="fl-r">김라영 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_40.jpg">
                                <img src="/front/img/icon-01.png" alt="1등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>GS25 미사미타워점</strong></p>
                                <p class="fl-r">문관국 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_28.jpg">
                                <img src="/front/img/icon-01.png" alt="1등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>GS25 청주청도점</strong></p>
                                <p class="fl-r">양선화 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_30.jpg">
                                <img src="/front/img/icon-01.png" alt="1등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>CU 진량공단점</strong></p>
                                <p class="fl-r">이용수 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_4.jpg">
                                <img src="/front/img/icon-01.png" alt="1등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>이마트24 강동이씨플라자점</strong></p>
                                <p class="fl-r">임연희 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_17.jpg">
                                <img src="/front/img/icon-01.png" alt="1등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>세븐일레븐 석촌백제점</strong></p>
                                <p class="fl-r">임홍열 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_32.jpg">
                                <img src="/front/img/icon-01.png" alt="1등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>CU 홍천희망점</strong></p>
                                <p class="fl-r">전일흥 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_18.jpg">
                                <img src="/front/img/icon-01.png" alt="1등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>세븐일레븐 삼성8호점</strong></p>
                                <p class="fl-r">정새봄 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_22.jpg">
                                <img src="/front/img/icon-01.png" alt="1등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>CU 용인대로점</strong></p>
                                <p class="fl-r">차상일 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_39.jpg">
                                <img src="/front/img/icon-01.png" alt="1등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>GS25 목원대사랑점</strong></p>
                                <p class="fl-r">한미화 점주님</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="second-place">
                    <div class="result-title">
                        <!-- 211020수정 -->
                        <p><strong> 아차상</strong> <span>(총 30명)</span></p>
                        <!-- //211020수정 -->
                    </div>
                    <ul>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_1.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>CU 명장동양점</strong></p>
                                <p class="fl-r">강세운 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_33.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>CU 청주서원대점</strong></p>
                                <p class="fl-r">김대영 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_34.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>GS25 광진제일점</strong></p>
                                <p class="fl-r">김연주 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_14.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>세븐일레븐 천안신부문화점</strong></p>
                                <p class="fl-r">김윤선 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_15.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>GS25 길동하이브점</strong></p>
                                <p class="fl-r">김은정 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_7.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>세븐일레븐 여수해야점</strong></p>
                                <p class="fl-r">김은화 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_5.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>CU 서면마루점</strong></p>
                                <p class="fl-r">김정호 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_9.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>세븐일레븐 대전으능정이점</strong></p>
                                <p class="fl-r">김태호 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_36.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>GS25 사동사랑점</strong></p>
                                <p class="fl-r">노숙진 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_29.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>CU 월계그랑빌</strong></p>
                                <p class="fl-r">박근주 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_26.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>세븐일레븐 아산선장점</strong></p>
                                <p class="fl-r">배영성 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_25.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>GS25 행신센터점</strong></p>
                                <p class="fl-r">손주경 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_23.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>GS25 거제제일점</strong></p>
                                <p class="fl-r">손진선 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_19.png">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>GS25 이천안평점</strong></p>
                                <p class="fl-r">송은영 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_11.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>세븐일레븐 광주우산5호점</strong></p>
                                <p class="fl-r">송혜정 점주님</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_41.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>GS25 홍천터미널점</strong></p>
                                <p class="fl-r">안기숙 점주님</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_8.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>CU 초량예스점</strong></p>
                                <p class="fl-r">안수정 점주님</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_37.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>GS25 강릉유천점</strong></p>
                                <p class="fl-r">유용상 점주님</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_21.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>세븐일레븐 제주연미마을점</strong></p>
                                <p class="fl-r">유은미 점주님</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_12.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>Mini Stop 와동스타점</strong></p>
                                <p class="fl-r">이길순 점주님</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_42.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>GS25 신림타운</strong></p>
                                <p class="fl-r">이문호 점주님</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_16.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>GS25 서정스마트점</strong></p>
                                <p class="fl-r">이미희 점주님</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_6.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>GS25 신림신성</strong></p>
                                <p class="fl-r">이은정 점주님</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_20.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>세븐일레븐 법조타운점</strong></p>
                                <p class="fl-r">이인애 점주님</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_38.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>CU 고등웰빙점</strong></p>
                                <p class="fl-r">이정연 점주님</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_27.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>CU 우동휴플러스점</strong></p>
                                <p class="fl-r">정영수 점주님</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_35.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>GS25 성내이안점</strong></p>
                                <p class="fl-r">조수미 점주님</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_3.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>CU 만세원당점</strong></p>
                                <p class="fl-r">조연화 점주님</p>
                            </div>
                        </li>

                        <li>
                            <div class="img-area" onclick="openPop(this);" data-original="/front/img/winner/image_13.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>GS25 마곡파크뷰점</strong></p>
                                <p class="fl-r">최다빈 점주님</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-area"  onclick="openPop(this);" data-original="/front/img/winner/image_2.jpg">
                                <img src="/front/img/icon-02.png" alt="2등" />
                            </div>
                            <div class="cf">
                                <p class="fl-l"><strong>Mini Stop 중마길호점</strong></p>
                                <p class="fl-r">최소영 점주님</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer title">
                <!-- 211020수정 -->
                <p>
                    이 외 참가해주신 모든 분들께 다시 한 번 감사의 말씀 드립니다. <br />
                    앞으로도 JTI  코리아는 점주님들과의 상생을 위해 노력하겠습니다.
                </p>
                <!-- //  211020수정 -->
                <!-- 211020수정 -->
                <img src="/front/img/logo.png" alt="" />
                <!-- //  211020수정 -->
            </div>
            <p>JT International Korea Inc.</p>
        </div>
    </div>

    <!-- 210909 수정 -->
    <div class="dimmed dp-none"></div>
    <!-- 210910 수정 -->
    <div class="pop pop01 dp-none">
        <img id="popImg" />
        <button type="button" onclick="closePop()">
            <img src="/front/img/ic_clese.png" alt="닫기" />
        </button>
        <button type="button" onclick="closePop()" class="box cf">
            <span> 닫기 </span>
        </button>
    </div>

    <!-- //211019 -->
    <!--// content-->
    <th:block layout:fragment="script">
        <script th:src="${#tck.getVersion('/front/js/jquery.lazyload.js')}"></script>
        <script>
            $(document).ready(function() {
                $('.img-area').lazyload({threshold: 1000 });
            });

            function openPop(el) {
                $(".dimmed").removeClass("dp-none");
                var s = $(".pop01");
                $("#popImg").attr("src", el.dataset.original);
                $(".pop01").removeClass("dp-none");
            }
            function closePop() {
                $(".dimmed").addClass("dp-none");
                $(".pop").addClass("dp-none");
            }

			/*]]>*/
		</script>
	</th:block>
</body>
</html>


