<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header area start -->
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="SidebarFragment">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/adm/main/index">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-laugh-wink"></i>
		</div>
		<div class="sidebar-brand-text mx-3">
			미쉐린코리아
		</div>
	</a>

	<!-- Nav Item - Dashboard -->
	<th:block th:each="menu,data : ${session.authentication.Menus}">
		<li class="nav-item">
			<a class="nav-link" th:href="${menu.Url}"> 
				<i class="fas fa-fw fa-arrow-right"></i>
				<span th:text="${menu.MenuTitle}"></span>
			</a>
		</li>
	</th:block>
	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>

</ul>
<!-- End of Sidebar -->
</html>