#divProductDetail {
	position: fixed;
	top: 10%;
	left: 50%;
	z-index: 1050;
	width: 940px;
	margin-left: -470px;
	background-color: #ffffff;
}

#divProductDetail>.modal-body {
	position: relative;
	overflow-y: auto;
	max-height: 500px;
	padding: 15px;
}

#UpdateBtn {
	display: none;
}

.OptionTxt span {
	color: red;
	font-weight: bold;
}

#divProductList {
	width: 100%;
	margin-top: 20px;
}

#ulProduct {
	list-style: none;
	margin: 0;
	padding: 0;
}

.product-item {
	text-align: center;
	float: left;
	width: 300px;
	border: 1px solid #ccc;
	background-color: #f8f8f8;
	margin: 0 10px 20px 10px;
	position: relative;
	/*-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/
	height: 280px;
}

.product-item * {
	font-style: normal;
	list-style: none outside none;
	line-height: 1.3em;
}

.product-item>.item-wrap>.img-text {
	margin: 15px;
}

.product-item>.item-wrap>.information {
	display: block;
	margin-top: 12px;
	text-align: center;
	margin-bottom: 12px;
}

.product-item>.item-wrap>.information>.spot {
	color: #464646;
}

.product-item>.item-wrap>.information>.desc {
	color: #9D9C9C;
	display: block;
	font-size: 13px;
	margin-top: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	height: 100px;
}

.img-item {
	width: 240px;
	/*height: 280px;*/
	margin: 10px auto 0 auto;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
}

.item-action button {
	padding: 4px;
	font-size: 12px;
}

.item-action {
	display: none;
	position: absolute;
	z-index: 1;
	top: 7px;
	right: 7px;
}

.img-text {
	margin-bottom: 15px;
}

.product-disabled {
	opacity: .5;
	*filter: alpha(opacity = 50);
}

.area-btn-left {
	margin-bottom: 15px;
}

.img-polaroid {
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.ProductImagUpload {
	display: inline-block;
	text-align:center;
	padding: 10px;
}

.ProductImagUpload .img-polaroid {
	width:75px;
	height:75px;
	margin-bottom: 10px;
}

#OptionDiv{
	display: inline-block;	
}

#OptionDiv input{
	width:65px;
}