.ui-widget {
    font-size: 15px;
}
			
.ui-widget-content {
    background: #F9F9F9;
    color: #222222;
}

.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

#success {
    padding: 0;
    margin: 0; 
}

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: hidden;
    position: relative;
    padding: 0 !important;
}

.ui-widget-header {
    background: rgb(23, 161, 117);
    border: 0;
    color: #fff;
    height: 25px;
    vertical-align:middle;
    font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
	font-size: 15px;
}