@charset "UTF-8";

@media (min-width:1300px) {
    .container {
        max-width: 1300px;
        width: 100%;
    }
}

@media (min-width:992px) {
    .container {
        width: 100%;
    }
}

@media (min-width:768px) {
    .container {
        width: 100%;
    }
}

.content {
    padding-top: 50px;
    padding-bottom: 100px;
}

a:hover{
    text-decoration:none;
    cursor:pointer;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.blind {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0
}

h2 {
    font-size: 30px;
    letter-spacing: 0.65px;
    font-weight: 500;
    color: #000;
    margin-bottom: 60px;
}

h3 {
    font-size: 20px;
    letter-spacing: 0.44px;
    color: #000;
    margin-bottom: 35px;
}

input:-ms-input-placeholder {
    color: #c8c8c8;
}

input::-ms-input-placeholder {
    color: #c8c8c8;
}

input::-webkit-input-placeholder {
    color: #c8c8c8;
}

input::-moz-placeholder {
    color: #c8c8c8;
}


/* header */
header {
    background: #27509b;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    height: 100px;
}

.navbar-fixed-top {
    border: 0;
}

.navbar-inverse {
    background: #27509b;
    color: #fff;
    overflow: hidden;
}

.navbar-inverse .navbar-brand {
    width: 240px;
    height: 47px;
    background: url('/front/img/michelin-logo.png') no-repeat center center;
    background-size: contain;
    margin-top: 21px;
    margin-right: 30px;
}

.navbar-inverse .navbar-nav {
    margin-top: 37px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01px;
    padding: 0 10px 32px;
    margin-right: 20px;
    margin-left: 20px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background: transparent;
    border-bottom: 4px solid #fbe601;
}

.navbar-inverse .navbar-toggle {
    border: 0;
    margin-left: 8px;
    float: left;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-inverse #closeMenu {
    width: 26px;
    height: 26px;
    background: url('/front/img/btn-navi-manu-close.png') no-repeat center center;
    background-size: cover;
    border: 0;
    margin: 12px 13px;
    float: right;
    display: none;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 100vh;
    height: 100vh;
}

.navbar-inverse .navbar-nav > li {
    background: none;
}

@media (max-width:767px) {
    header {
        height: 50px;
        border-bottom: 0;
    }

    .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-inverse .navbar-nav {
        margin: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
    }

    .navbar-inverse .navbar-brand {
        width: 142.0px;
        height: 28px;
        margin-top: 11px;
    }

    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        border-color: transparent;
    }

    .navbar-inverse .navbar-nav > li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        background: url('/front/img/ico-next.png') no-repeat;
        background-size: 6px 10.8px;
        background-position: right 23px center;
    }

    .navbar-inverse .navbar-nav > li > a {
        padding: 19px 20px;
        margin-left: 0;

    }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:focus,
    .navbar-inverse .navbar-nav > .active > a:hover {
        color: #fff;
        background: transparent;
        border-bottom: 0;
    }
}

/* footer */
footer .container{
    padding-left:38px;
    padding-right:38px;
}
footer .footer-logo{
    margin-top:50px;
    width:244px;
}

footer .box-pcfooter{
    display:block;
    padding:50px 0;
}

footer .txt-footer01{
    font-size: 13px;
    line-height:19px;
    font-weight: bold;
    letter-spacing: -0.28px;
    color: #333333;
    margin-bottom:10px;
}

footer .txt-footer01 span{
    display:block;
}
footer .txt-footer01 span:first-child{
    margin-bottom:10px;
}

footer .txt-footer02{
  font-size: 12px;
  font-weight: normal;
  line-height: 1.83;
  letter-spacing: -0.1px;
  color: #999999;
}
footer .box-pcfooter .txt-footer02 a{
    cursor:pointer;
    text-decoration: none;
    color:inherit;
}
footer .box-mofooter{
    display:none;
}

footer .box-mofooter .txt-footer02{
    margin-top:30px;
    margin-bottom:30px;
    font-size:11px;
    line-height:2;
    letter-spacing:-0.19px;
}
footer .box-mofooter .txt-footer02 a{
    color:inherit;
}


@media (max-width:767px){
    footer .container{
        padding-left:15px;
        padding-right:15px;
    }
     footer .box-pcfooter{
        display:none;
    }
    footer .box-mofooter{
        display:block;
        text-align:center;
    }
    
    footer .footer-logo{
        display:block;
        margin:30px auto 0;
        width:46.1111vw;
    }
}


/* login */

.content.login {
    padding-top: 0;
    padding-bottom: 0;
    background: #27509b;
    color: #fff;
    position: relative;
    height:100vh;
}

.content.login .box-login {
    /* margin: 290px auto 0; */
    /*
    width: 700px;
    padding: 129px 22px 0;
    background: url('/front/img/michelin-logo-login.png') no-repeat left top;
    background-size: 660px 129px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 350px;
    */
    width: 699px;
    padding: 132px 22px 0;
    background: url(/front/img/michelin-logo-login.png) no-repeat left top;
    background-size: 666px 132px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 350px;
}

.content.login .box-login .box-input {
    height: 70px;
    background: #fff;
    overflow: hidden;
    position:relative;
}

.content.login .box-login .box-input label {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: -0.39px;
    color: #00205b;
    margin: 12px 0 14px;
    padding: 13px 20px 11px;
    border-right: 1px solid #979797;
}

.content.login .box-login .box-input input[type='text'] {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.06;
    letter-spacing: -0.39px;
    color: #0e0e0e;
    margin: 12px 0 14px;
    padding: 13px 20px 11px;
    border: 0;
    width: 380px;
}

.content.login .box-login .box-input .btn-login {
    float: right;
    width: 120px;
    height: 70px;
    background-color: #fce500;
    color: #000;
    font-size: 18px;
    line-height: 19px;
    font-weight: 300;
    text-align: center;
    letter-spacing: -0.39px;
    line-height: 70px;
    position:absolute;
    right:0;
    top:0;
}


.content.login .box-login p {
    margin-top: 20px;
    padding: 0;
    font-size: 19px;
    line-height: 1.32;
    letter-spacing: 1px;
    text-align: center;
}

.content.login .copyright {
    position: absolute;
    margin: auto;
    top: auto;
    bottom: 33px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: -0.35px;
}

@media (max-width:767px) {
    .content.login .box-login {
        /* margin-top: 55.555vw; */
        /*
        width: 325px;
        padding-top: 63.5px;
        padding-left: 11px;
        background-size: auto 63.5px;
        height: 200px;
        */
        width: 325px;
        padding-top: 57px;
        padding-left: 10px;
        background-size: auto 57px;
        height: 200px;
    }

    .content.login .box-login .box-input label,
    .content.login .box-login .box-input input[type='text'] {
        font-size: 12px;
        margin: 8px 0;
    }

    .content.login .box-login .box-input label {
        padding: 2px 5px;
    }

    .content.login .box-login .box-input {
        height: 35px;
    }

    .content.login .box-login .box-input input[type='text'] {
        width: 138px;
        padding: 2px 5px;
        height:20px;
    }

    .content.login .box-login .box-input .btn-login {
        height: 35px;
        width: 59px;
        font-size: 12px;
        line-height:35px;
        text-align:center;
    }

    .content.login .box-login p {
        margin-top: 10px;
        font-size: 10.5px;
        line-height: 2.27;
        letter-spacing: -1px;
    }

    .content.login .copyright {
        font-size: 11px;
        bottom: 10px;
    }
}

@media (max-width:320px) {
    .content.login .box-login {
        /*
        width: 300px;
        padding-top: 57px;
        padding-left: 10px;
        padding-right: 10px;
        background-size: auto 57px;
        */
        width: 300px;
        padding-top: 54px;
        padding-left: 9px;
        padding-right: 10px;
        background-size: auto 54px;
    }

    .content.login .box-login .box-input label,
    .content.login .box-login .box-input input[type='text'],
    .content.login .box-login .box-input button {
        font-size: 10px;
    }

    .content.login .box-login .box-input input[type='text'] {
        width: 125px;
        
    }

    .content.login .box-login p {
        font-size: 8.5px;
        line-height: -1.2px;
    }
}

/* layer popup */
.dimmed {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

.layer-pop {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 400px;
    height: auto;
    z-index: 10000;
    background: #fff;
    padding: 0;
}

.layer-pop .title-pop {
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    font-size: 18px;
    line-height: 69px;
    height: 60px;
    overflow: hidden;
    margin-bottom: 0;
}

.layer-pop .title-pop .btn-close-top {
    margin: 20px;
    width: 20px;
    height: 20px;
    border: 0;
    background: url('/front/img/btn-popup-close.png') no-repeat center center;
    background-size: cover;
    float: right;
}

.layer-pop .box-pop {
    width: 100%;
    height: 80%;
    overflow-y: auto;
    font-size: 20px;
    line-height: 25px;
}

.layer-pop .txt-pop {
    padding: 20px 30px;
    max-height:500px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: -0.83px;
    color: #000;
}

.layer-pop .txtpop strong {
    font-weight: 500;
    margin-bottom: 10px;
}

.layer-pop .btn-close {
    border: 0;
    background: #27509b;
    display: block;
    margin: 35px auto;
    width: 252px;
    height: 55px;
    font-size: 13px;
    line-height: 55px;
    color: #fff;
    margin-top: 10px;
	margin-bottom: 35px;
}

.layer-pop .txt-pop #msgPop{
    width:100%;
    text-align:center;
    color:#000;
    font-size:16px;
    font-weight:400;
    border:0;
    margin-top:35px;
    line-height: 1.8;
    display:inline-block;
}

.layer-pop.popInfo{
    border:3px solid #27509b;
    padding:0;
    font-size:14px;
    width:500px;
    box-sizing:border-box;
}
.layer-pop.popInfo .box-pop{
    height:auto;
}
.layer-pop.popInfo .title-pop{
    margin:0;
    font-size:18px;
    font-weight:500;
    color:#000;
    padding-left:60px;
}

.layer-pop.popInfo .img-size{
    width:48.765%;
    display:block;
    margin:40px auto;
}
.layer-pop.popInfo .box-poptbl{
    padding:0 20px;
}
.layer-pop.popInfo table{
    font-size:14px;
    width:100%;
    border-top:1px solid #999;
}
.layer-pop.popInfo table th, .layer-pop.popInfo table td{
    font-weight:400;
    padding:10px 0;
    text-align:center;
    border-bottom:0.5px solid #b9b9b9;
}

.layer-pop.popInfo table th{
    width:100px;
    background:#f7f8fa;
}

.layer-pop.popInfo p{
    font-size:14px;
    margin-top:8px;
}
.layer-pop.popInfo .btn-close{
    margin-bottom:20px;
}
.layer-pop.popInfo table tr.bd {
    border-top:1px solid #333;
    border-bottom:1px solid #333;
}
.layer-pop.popInfo table tr.bd th,.layer-pop.popInfo table tr.bd td {
    border-bottom:1px solid #333;
    font-weight:600;
}
@media (max-width:768px) {
    .layer-pop, .layer-pop.popInfo {
        width: 90%;
    }

    .layer-pop .title-pop {
        font-size: 16px;
        line-height: 49px;
        height: 45px;
        padding: 0 20px;
    }

    .layer-pop .title-pop .btn-close-top {
        margin: 15px 0;
        width: 15px;
        height: 15px;
    }

    .layer-pop .txt-pop {
        font-size: 11px;
        line-height: 17px;
        letter-spacing: -0.76px;
        padding: 15px 20px;
    }

    .layer-pop .btn-close {
        margin: 0 auto 30px;
        width: 160px;
        height: 35px;
        font-size: 13px;
        line-height: 35px;
    }
    .layer-pop .txt-pop #msgPop{
        font-size:12px;
        margin-top:35px;
    }
    
}
@media (max-width:360px){
   .layer-pop.popInfo, .layer-pop.popInfo table, .layer-pop.popInfo p {
        font-size:12px;
    }

    .layer-pop.popInfo table th{
        width:90px;
    }
    .layer-pop.popInfo .img-size{
        margin:10px auto;
    }
}
/* main */
.content.main{
    background:url('/front/img/bg-main-image-pc.jpg') no-repeat center center;
    background-size:cover;
}
.content.main .container{
    position:relative;
    height:830px;
}
.content.main .container .txtmain01{
    position:absolute;
    left:0;
    top:233px;
    width:681px;
    height:174px;
    z-index:5;
    background:url('/front/img/main-text-pc.png') no-repeat center center;
    background-size:cover;
    
}
.content.main .container .imgmain01{
    position:absolute;
    right:0;
    top:228px;
    width:403px;
    height:516px;
    background:url('/front/img/main-outer-pc.png') no-repeat center center;
    background-size:cover;
}

.content.main .container .btn-blue{
    position:absolute;
    bottom:325px;
    left:0;
    width:260px;
    font-size:16px;
    font-weight:500;
    line-height:65px;
    letter-spacing: -0.35px;
    text-align:center;
    color:#fff;
    background-color:#27509b;
}
.content.main .container .btn-blue:hover{
    text-decoration: none;
}
@media (max-width:1300px){
    .content.main .container{
        height:63.84615vw;
    }
    .content.main .container .txtmain01{
        width:52.38461vw;
        height:13.3846vw;
        top:17.923vw;
        left:15px;
    }
    .content.main .container .imgmain01{
        width:31vw;
        height:39.692307vw;
        top:17.53846vw;
        right:15px;
    }
    .content.main .container .btn-blue{
        left:15px;
        bottom:15.077vw;
    }
}
@media (max-width:767px){
    .content.main{
        padding:0;
        background:url(/front/img/mo-bg-main-image.jpg) no-repeat center center;
        background-size:cover;
    }
    .content.main .container{
        height:163.8888vw;
    }
    
    .content.main .container .txtmain01{
        top:11.111vw;
        margin:auto;
        left:0;
        right:0;
        bottom:auto;
        height:20.2777vw;
        width:86.09375vw;
        background:url('/front/img/mo-main-text.png') no-repeat center center;
        background-size:auto 100%;

    }
    .content.main .container .imgmain01{
        margin:auto;
        left:0;
        right:0;
        top:52.361vw;
        bottom:auto;
        width:58.055vw;
        height:74.583vw;
        background:url('/front/img/mo-main-outer.png') no-repeat center center;
        background-size:cover;
    }

    .content.main .container .btn-blue{
        margin:auto;
        left:0;
        right:0;
        top:auto;
        bottom:13.888vw;
        width:38.3333vw;
        font-size:12px;
        font-weight:500;
        line-height:9.7222vw;
        letter-spacing: -0.26px;
    }
}

/* 주문하기 01 - 제품 상세 */
.order01 .row-order01 {
    overflow: hidden;
    padding-bottom: 60px;
}

.order01 .row-order01 .orderbox01 {
    float: left;
}

.order01 .row-order01 .orderbox02 {
    float: right;
    width: 466px;
    height: 742px;
    border: 1px solid #f0f0f0;
}

.order01 .row-order01 .orderbox01 .imgbox01 ul {
    margin-right: 24px;
}

.order01 .row-order01 .orderbox01 .imgbox01 ul li {
    display: block;
    margin-top: 12px;
    padding: 7px 5px;
    border: 1px solid #979797;
}

.order01 .row-order01 .orderbox01 .imgbox01 ul li:first-child {
    margin-top: 0;
}


.order01 .row-order01 .orderbox01 .imgbox01 ul li img {
    width: 98px;
    height: 123px;

}

.order01 .row-order01 .orderbox01 {
    display: flex;
    flex-direction: row;
}

.order01 .row-order01 .orderbox01 .imgbox01,
.order01 .row-order01 .orderbox01 .imgbox02 {
    display: inline-block;
    vertical-align: top;
}

.order01 .row-order01 .orderbox01 .imgbox01 {
    order: 1;
}

.order01 .row-order01 .orderbox01 .imgbox02 {
    order: 2;
    width: 595px;
    height: 742px;
    border: 1px solid #e3e3e3;
    position: relative;
}

.order01 .row-order01 .orderbox01 .imgbox02 img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 90%;
    max-height: 90%;
}

.order01 h2 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    padding-top:100px;
    margin-bottom: 36px;
}

.order01 .row-order02 .img-prodinfo {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.order01 .row-order02#info01 .img-prodinfo{
    max-width:500px;
}


.orderbox02 .txt01 {
    font-size: 24px;
    color: #000;
}

.orderbox02 .txt02 {
    font-size: 15px;
    line-height: 1.27;
    letter-spacing: -0.33px;
    color: #333;
    margin: 35px 0 16px;
}

.orderbox02 .txt02 a {
    text-decoration: underline;
    color: #333;
    padding-left: 30px;
    background: url('/front/img/ic-size-guide.png') no-repeat left center;
    background-size: auto 100%;
    cursor: pointer;
}
.btn{
    margin-top: 14px;
    font-size: 14px;
    line-height:32px;
    border: 0;
    border-radius:0;
    font-weight: 500;
    padding: 0 20px;
    background: #fce500;
    color: #000;
}
.btn-order {
    margin-top: 25px;
    width: 100%;
    font-size: 16px;
    border: 0;
    color: #ccc;
    font-weight: 500;
    padding: 18px 0;
    background: #fff9bf;
}

.btn-order.active {
    background: #fce500;
    color: #000;
}

.order01 .row-order01 .orderbox03 {
    width:0;
    height:0;
}

.order01 .row-order01 .orderbox03 .slick-dots{
    display:none !important;
}

.order01 .row-order03{
    border-top:2px solid #00205b;
    border-bottom:1px solid #e7e7e7;
}

.order01 .row-order03 ul {
     margin-left:67px;   
}
.order01 .row-order03 ul li{
    display: inline-block;
    padding:22px 33px 18px;
    text-align:center;
    font-size:16px;
    color:#000;
    font-weight:300;
    letter-spacing:-0.35px;
    color:#333;
}
.order01 .row-order03 ul li.active{
    font-weight:500;
    border-bottom:4px solid #82a3e2;
}
.order01 .row-order03 ul li a,.order01 .row-order03 ul li a:hover{
    color:#333;
    text-decoration:none;
}


.order02 .box-info {
    margin-left: 20px;
    border: 1px solid #afafaf;
    padding: 25px 34px;
}

.order02 .box-info .btn-order {
    margin-top: 45px;
}




@media (max-width:991px) {
    .order01 .row-order01 {
        overflow: visible;
    }

    .order01 .row-order01 .orderbox01 {
        display: none;
    }

    .order01 .row-order01 .orderbox03 {
        display: block;
    }
    .order01 .row-order01 .orderbox03 {
        width:auto;
        height:auto;
    }

    .order01 .row-order01 .orderbox03 .slick-dots{
        display:block !important;
    }
    .order01 .row-order01 .orderbox03 .slick-slide {}

    .order01 .row-order01 .orderbox03 .slick-slide img {
        max-width: 90%;
        max-height: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .order01 .row-order01 .orderbox03 .slick-dots li {
        margin: 0;
    }

    .order01 .row-order01 .orderbox02 {
        float: none;
        width: 96%;
        border: 0;
        margin: 100px auto 0;
        height: auto;
    }

    .order01 .row-order01 .orderbox02 .txt02 {
        margin: 16px 0;
    }

    .order01 .row-order01 .orderbox02 .txt02.txt-size {
        margin-top: 45px;
    }


    .order01 .row-order01 .orderbox03 .slick-dots {
        list-style: none;
        padding: 0;
        margin: 10px 0 0;
        text-align: center;
    }

    .order01 .row-order01 .orderbox03 .slick-dots li {
        display: inline-block;
        margin-right: 6px;
    }

    .order01 .row-order01 .orderbox03 .slick-dots li:last-child {
        margin-right: 0;
    }

    .order01 .row-order01 .orderbox03 .slick-dots li button {
        font-size: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #27509b;
        padding: 0;
    }

    .order01 .row-order01 .orderbox03 .slick-dots li.slick-active button {
        background-color: #27509b;
    }

}

@media (max-width:767px) {

    .order01 .row-order01 {
        border-bottom: 0;
    }

    .order01 .row-order01 .orderbox01 {
        flex-direction: column;
        float: none;
        width: 100%;
    }

    .order01 .row-order01 .orderbox02 {
        float: none;
        width: 100%;
    }

    .order01 .row-order01 .orderbox01 .imgbox01 {
        order: 2;
        width: 100%;
    }

    .order01 .row-order01 .orderbox01 .imgbox02 {
        order: 1;
        width: 100%;
    }

    .order01 .row-order01 .orderbox01 .imgbox01 ul {
        display: flex;
        flex-direction: row;
    }

    .order01 .row-order01 .orderbox01 .imgbox01 ul li {
        display: inline-block;
        width: 25%;
    }

    .order01 h2 {
        font-size: 16px;
        border-bottom: 0;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    .order01 .row-order03{
        margin:0 -15px;
    }
    .order01 .row-order03 ul{
        width:90vw;
        padding:0;
        margin:0 auto;
        overflow:hidden;
    }
    .order01 .row-order03 ul li{
        float:left;
        width:50%;
    }
}

@media (max-width:360px){
    .order01 .row-order03 ul li{
        padding:22px 22px 18px;
    }
}

/* 주문하기 02 - 배송정보 */

.order02 table {
    width: 100%;
    margin-bottom: 50px;
}

.order02 table.mo-hidden {
    display: table;
}

.order02 .pc-hidden {
    display: none;
}

.order02 table thead tr {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.order02 table thead tr th {
    padding: 22px 0;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.31px;
    color: #333;
}

.order02 table tbody tr td {
    border-bottom: 1px solid #cfcfcf;
    padding: 22px 0;
    text-align: center;
    font-size:16px;
}

.order02 table tbody tr td:first-child {
    text-align: left;
    font-size:14px;
}


.order02 .img-box,
.order02 table ul {
    display: inline-block;
    vertical-align: top;
}

.order02 table ul li {
    font-size: 14px;
    color: #333;
    line-height: 2.5;
}

.order02 table .img-box {
    width: 106px;
    height: 106px;
    border: 1px solid #eee;
    position: relative;
    margin-right: 26px;
}

.order02 table .img-box img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
}
.order02.orderInfo02 table tbody tr td{
    padding-left:25px;
    padding-right:25px;
    line-height:1.8;
}
@media (max-width:1200px){
  .order02.orderInfo02 table tbody tr td{
    padding-left:5px;
    padding-right:5px;
    font-size:14px;
   }
    .order02.orderInfo02 table .img-box{
        margin-right:10px;
    }
}
.order02.orderInfo02 table tbody tr td:first-child {
    text-align: center;
    font-size:16px;
}
.order02.orderInfo02 table tbody tr td:nth-child(2) {
    text-align: left;
    font-size:14px;
    min-width:324px;
}
.order02.orderInfo02 table td .box-inlineblock{
    display:inline-block;
}

.order02.orderInfo02 table td .box-inlineblock p,.order02.orderInfo02 table td .box-inlineblock ul{
    margin-top:10px;
}
.order02.orderInfo02 table td .box-inlineblock ul li{
    line-height:2;
}

.order02 .pc-hidden {
    padding: 20px 0;
    border-top: solid 0.7px #000;
    border-bottom: solid 0.7px #cfcfcf;
}

.order02 .pc-hidden .img-box {
    width: 85px;
    height: 85px;
    border: 1px solid #eee;
    position: relative;
    margin-right: 26px;
}

.order02.orderInfo02 table.mo-hidden{
    display:table;
}
.order02.orderInfo02 .pc-hidden{
    display:none;
}
@media (max-width:767px){
    
    .order02.orderInfo02 table.mo-hidden{
        display:none;
    }
    .order02.orderInfo02 .pc-hidden{
        display:block;
    }


}

@media (max-width:340px) {
    .order02 .pc-hidden .img-box {
        width: 70px;
        height: 70px;
    }
}

.order02 .pc-hidden .img-box img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
}

.order02 .pc-hidden .txt-box {
    display: inline-block;
}

.order02 .pc-hidden .txt01 {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.31px;
    color: #333;
    margin-bottom: 5px;
}

.order02 .pc-hidden .txt02 {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.26px;
    color: #7a7a7a;
    margin-bottom: 5px;
}

.order02 .pc-hidden .txt03 {
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    letter-spacing: -0.31px;
    color: #000;
}


.order02 .form-box {
    border-top: 1px solid #333;
    padding-top: 50px;
}

.order02 .form-box input[type='text'] {
    width: 100%;
    border: 1px solid #c8c8c8;
    font-size: 18px;
    letter-spacing: -0.39px;
    margin-bottom: 22px;
    color: #000;
    padding: 21px 20px;
}

.order02 .form-box .text-right {
    margin-top: 13px;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #c8c8c8;
}


.styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #000, 4px 0 0 #000, 4px -2px 0 #000, 4px -4px 0 #000, 4px -6px 0 #000, 4px -8px 0 #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}



input[type=checkbox].css-checkbox {
    display: none;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 20px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}

.css-label {
    background-image: url(http://csscheckbox.com/checkboxes/dark-check-green.png);
}


.order02 .form-box label {
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #000;
    font-weight: normal;
}

.order02 .form-box button.btn-viewInfo {
    border: 0;
    background: transparent;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #000;
    font-weight: bold;
}

.order02.orderInfo02 .pc-hidden{
    padding: 0 15px;
}

.order02.orderInfo02 .pc-hidden .txt-row{
    margin:0px -15px auto;
    padding:20px 15px;
    border-top:0.7px solid #cfcfcf; 
    overflow: hidden;
}
.order02.orderInfo02 .pc-hidden p.txt-row.nobd{
    border:0;
}

.order02.orderInfo02 .pc-hidden p.txt-row .info-title{
    padding-right:15px;
    border-right:1px solid #000;
    display:inline-block;
    vertical-align:top;
}
.order02.orderInfo02 .pc-hidden p.txt-row .info-txt,.order02.orderInfo02 .pc-hidden p.txt-row .info-txt01 {
    padding-left:15px;
    display:inline-block;
    word-break: break-all;
}

.order02.orderInfo02 .pc-hidden p.txt-row .btn{
    float:right;
    margin-top:-5px;
}

@media (max-width:767px) {
    .content.order02 {
        padding-top: 0;
    }

    .content.order02 h2 {
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        color: #000;
        margin: 0 -15px;
        padding: 12px 15px 14px;
        border-bottom: 0.7px solid #cfcfcf;
    }

    .content.order02 h3 {
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        color: #000;
        margin: 0 -15px;
        padding: 25px 15px 13px;
    }

    .order02 table.mo-hidden {
        display: none;
    }

    .order02 .pc-hidden {
        display: block;
        margin: 0 -15px;
        padding: 20px 15px;
    }

    .order02 .form-box {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
    }

    .order02 .form-box input[type='text'] {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.53px;
        padding: 16px 15px;
        margin-bottom: 20px;
    }

    .order02 .form-box label,
    .order02 .form-box button.btn-viewInfo {
        font-size: 13px;
        line-height: 20px;
        letter-spacing: -0.16px;
    }

    .styled-checkbox + label:before {
        vertical-align: text-bottom;
    }

    .order02 .box-info {
        margin-left: 0;
        border: 0;
        padding: 0;
    }

    .order02 .box-info p.txt01,
    .order02 .box-info p.txt02 {
        display: none;
    }
    
    .content.order02.orderInfo02 h2{
        border-bottom:0;
    }
    .content.order02.orderInfo02 h3{
        border-top:0.7px solid #cfcfcf;
        border-bottom: 0.7px solid #000;
    }
    .content.order02.orderInfo02 .pc-hidden{
        border:0;
    }

}
.content.order03{
    padding-bottom:0px;
    position: relative;
}
.content.order03 .container {
    
}

.content.order03 .box-msg {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 450px;
    height: 300px;
    text-align: center;
}

.content.order03 .box-msg .title-msg {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -0.79px;
    color: #000;
}
@media (max-width:767px){
    .content.order03 .box-msg .title-msg{
        padding-top:50px;
    }
    
}

.content.order03 .box-msg .txt-msg {
    font-size: 18px;
    font-weight: 300;
    line-height: 2.06;
    letter-spacing: -0.39px;
    color: #000;
    word-break: keep-all;
}

.content.order03 .box-msg .btn-blue {
    display: inline-block;
    width: 300px;
    height: 55px;
    margin-top: 50px;
    background: #27509b;
    border: 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: -0.35px;
    line-height: 55px;
}

.content.order03 .mo-hidden {
    display: block;
}

@media (max-width:767px) {
    .content.order03 .box-msg {
        width: 90%;
        max-width:360px;
        margin:0 auto;
        position:static;
    }

    .content.order03 .mo-hidden {
        display: none;
    }

    .content.order03 .box-msg .title-msg {
        font-size: 22px;
        letter-spacing: -0.48px;
    }

    .content.order03 .box-msg .txt-msg {
        font-size: 13px;
        line-height: 2.85;
        font-weight: 300;
        letter-spacing: 0.28px;
    }
    .content.order03 .box-msg .btn-blue{
        margin-top:35px;
        width:100%;
        margin-bottom:50px;
    }
    .content.order03 .container{
        margin-bottom:50px;
    }
}

/* Q&A */

.content.faq .box-faq{
    max-width:760px;
    width:100%;
}
.content.faq p{
    font-size:16px;
    line-height:33px;
    letter-spacing:-0.35px;
    color:#000;
}
.content.faq p.txt-q{
    font-weight:500;
    margin-top:35px;
}
.content.faq p.txt-a{
    font-weight:300;
    padding-left:20px;
}
.content.faq p.txt-a:before{
    display:inline-block;
    content:'->';
    margin-left:-20px;
    width:20px;
    
}

@media (max-width:767px){
    .content.faq{
        padding-top:10px;
    }
    .content.faq h2 {
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        color: #000;
        margin: 0 -15px;
        padding: 12px 15px 14px;
    }
  .content.faq p{
        font-size:12px;
        line-height:24px;
    }  
}