<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
		<title>JTI</title>
	
		<script type="text/javascript" th:src="${#tck.getVersion('/front/js/jquery.min.js')}"></script>
		
		<!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
		<th:block layout:fragment="css"></th:block>
	</head>
	<body>
	    <div layout:fragment="content"></div>
	    <!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
    	<th:block layout:fragment="script"></th:block>
	</body>
</html>